.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep

npm-debug.log
package-lock.json
# 忽略使用WebStorm开发时，生成的缓存文件夹
.idea
# 忽略使用VSCode开发时，生成的缓存文件夹
.vscode
tree.md
*.idea
